@import url(https://fonts.googleapis.com/css?family=Open+Sans:600&subset=latin,cyrillic-ext);

body { 
  text-align: center;
  font-family: 'Open Sans', 'Play', sans-serif;
  color: #fff;
  text-shadow: 0 0 30px #000;
}

.title {
  font-size: 4em;
  margin: 20px 0 0 0;
}

.days {
  font-size: 12em;
  margin: 80px 0 0 0;
}

.note {
  font-size: 6em;
  margin: 0;
}

.backstretch { opacity:0.6; }
