@import url(https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic-ext);

body { 
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #0099cc;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.title {
  font-size: 4em;
  margin: 0;
}

.days {
  font-size: 12em;
  margin: 80px 0 0 0;
}

.note {
  font-size: 6em;
  margin: 0;
}